.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(109, 107, 108, 0.7);
  z-index: 1;
}

.user-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  background-color: #fff;
}

.blurred {
  width: 200%;
}

.branch-editting {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 40%;
  min-height: 80%;
  background-image: url("../../../../public/images/Assets/branch-form-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  overflow-y: auto;
  border-radius: 10px;
  margin-left: 6%;
  color: white;
  background-color: rgba(0, 0, 0, 0.1); /* Adjust opacity as needed */
}

.confirm-error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 0, 0);
  font-weight: 700;
}

.input-group {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.branch-editting input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
  border: 1px solid transparent;
}

.branch-editting input:focus {
  border-color: #007bff;
}

.branch-editting label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.branched-buttons button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.branched-buttons button:hover {
  background-color: #0056b3;
}

.branched-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 1600px) {
  .station-list {
    height: 100%;
  }

  .user-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 6%;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
}

@media screen and (max-width: 1400px) {
  .station-list {
    height: 100%;
  }

  .user-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    width: 90%;
    height: 100%;
    background-color: #fff;
  }

  @media screen and (max-width: 1300px) {
    .station-list {
      height: 100%;
    }

    .user-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 20%;
      margin-top: 6%;
      width: 80%;
      height: 100%;
      background-color: #fff;
    }

    .sidebar {
      width: 200px !important;
    }
  }

  @media screen and (max-width: 1250px) {
    .station-list {
      height: 100%;
    }

    .user-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 6%;
      width: 80%;
      height: 100%;
    }
  }

  @media screen and (max-width: 1100px) {
    .station-list {
      height: 100%;
    }

    .user-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 6%;
      width: 90%;
      height: 100%;
      font-size: 10px !important;
    }
  }

  @media screen and (max-width: 900px) {
    .branch-editting {
      width: 60%;
      margin-left: 12%;
    }
  }

  @media screen and (max-width: 800px) {
    .station-list {
      height: 100%;
    }

    .sidebar {
      font-size: 12px !important;
      width: 150px !important;
    }
    .sidebar-header img {
      width: 100px !important;
    }

    .user-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 6%;
      width: 80%;
      height: 100%;
      font-size: 10px !important;
    }
  }

  @media screen and (max-width: 450px) {
    .station-list {
      height: 100%;
    }

    .user-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 6%;
      height: 100%;
      font-size: 10px !important;
    }

    .branch-editting {
      width: 80%;
      margin: auto;
    }
  }
}
