.main-station {
    height: 60vh;
    width: 100%;
}

.section-header {
    width: 100%;
    padding: 64px;
}

.section-header h3 {
    margin-bottom: 4px;
}

.header-icons {
    gap: 16px;
}

.rating {
    font-size: 20px;
}

.ride-container {
    max-width: 100%;
    height: auto;
}

.name-rating {
    width: 18%;
    gap: 16px;
}

.name-rating h3 {
    text-align: center;
    width: 50%;
}

.destinations {
    gap: 16px;
}

.location,
.time {
    text-align: center;
}

.time {
    font-size: 16px;
}

.leaflet-container {
    border-top-right-radius: unset!important;
    border-bottom-right-radius: unset!important;;
}

.ride-card {
    width: 1200px;
    height: 90px;
    margin-bottom: 48px;
    border-radius: 12px;
}

.ride-card:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

.price-select {
    gap: 16px;
}

.select-btn {
    width: 120px;
    height: 40px;
    font-size: 16px;
}

.select-btn:hover {
    background-color: #EFEFEF;
    color: #CE091B;
    border: solid 1px #CE091B;
}

.proceed {
    width: 100%;
    margin-top: 96px;
    display: flex;
    flex-direction: column;
}

.proceed-btn-container {
    width: 100%;
}

.proceed-btn {
    width: 100%;
    height: 160px;
    font-size: 32px;
    padding: 36px;
    cursor: pointer;
}

.proceed-btn:hover {
    background-color: #980511;
    width: 100%;
}