.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #21252975;
}

.popup-inner {
    height: 50vh;
    width: 30%;
    min-width: 450px;
    overflow: hidden;
}

.popup-text {
    height: 60%;
}


.popup-text h1 {
    font-size: 36px;
    padding-bottom: 8px;
    text-align: center;
}

.popup-text p {
    padding: 8px;
    margin-top: 10%;
    font-size: 24px;
    text-align: center;
    width: 400px;
}

.popup-btn {
    text-align: center;
    width: auto;
    font-size: 20px;
    font-weight: 700;
    font-family: "Cormorant", serif;
    padding: 12px 24px;
    border-radius: 4px;
}

.popup-btn:hover {
    background-color: #52796F;
    color: #f8f9fa;
    cursor: pointer;
}