.footer {
    font-size: 18px;
    padding: 0 128px;
    width: 100%;
    height: 220px;
    justify-content: space-between;
    align-items: center;
}

.footer-social {
    gap: 16px;
}

.footer-social p {
    margin-left: 16px;
}

.footer-links {
    gap: 32px;
}

.footer-links a:hover {
    cursor: pointer;
    color: #849f98;
}