.ticket-main {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    margin-top: 120px;
    width: 100%;
    background-color: #D1D0D1;
}

.ride-details-container {
    background-color: #EFEFEF;
    height: 600px;
    min-width: 440px;
}

.logo-order img {
    height: 36px;
    margin: 32px 0;
    cursor: pointer;
}


.ride-details-title h1 {
    padding-bottom: 16px;
    font-size: 24px;
}

.ride-details-title p {
    font-size: 24px;
    padding-bottom: 16px;
}

.order-details {
    text-align: center;
    font-size: 20px;
}

.ride-details-title p {
    text-transform: capitalize;
}

.order-body {
    width: 100%;
    margin-bottom: 32px;
}

.order-body h2 {
    font-size: 20px;
}

.add-passengers h2 {
    text-align: center;
    font-size: 20px;
    padding-bottom: 8px;

}

.passenger-counter {
    margin-bottom: 12px;
}

.add-passengers input {
    width: 25%;
    height: 40px;
    padding: 8px;
    margin: 0;
    font-size: 16px;
    border: none;
    text-align: center;
}

.add-passengers button {
    width: 32px;
    height: 32px;
    font-size: 24px;
    font-weight: 700;
    margin: 4px;
    border-radius: 12px;
}


.total {
    padding: unset;
    text-align: center;
    margin: 32px 0;
}

.total h1 {
    font-size: 24px;
}

.total h2 {
    font-size: 16px;
}

.checkout {
    margin: unset;
    gap: 12px;
}

.cancel-btn,
.checkout-btn {
    text-align: center;
    font-size: 16px;
    height: 40px;
    width: 120px;
}

.pass-prompt {
    font-size: 16px;
    text-align: center;
    margin: 16px 0;
}

.pass-prompt p:hover {
    cursor: pointer;
    color: #ED941B;
}