.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 120px;
    padding: 0 80px;
}

.nav-elements {
    height: 100%;
    width: 1000px;
    margin: 0 auto;
}

.logo {
    height: 27px;
    cursor: pointer;
}

.nav-list {
    font-size: 20px;
    align-items: center;
    gap: 36px;
    margin: 0;
}


.nav-login, .nav-link {
    height: 48px;
    width: 150px;
    font-size: 20px;
    margin: 0;
}