.primary-text {
    color: #161213;
}

.dark-text {
    color: #30302F;
}

.light-text {
    color: #6D6B6C;
}

.secondary-text {
    color: #ED941B;
}

.light-gray-bg {
    background-color: #EFEFEF;
}

.white-bg {
    background-color: #FFFFFF;
}

.white-text {
    color: #FFFFFF;
}

.off-white-text {
    color: #DEE2E6;
}

.onclick-nav-bg {
    background-color: #ADB5BD;
}

.primary-bg {
    background-color: #CE091B;
}

.secondary-bg {
    background-color: #ED941B;
}

.off-white-bg-trsp {
    background-color: #EFEFEF75;
}

.light-gray-bg-trsp {
    background-color: #6D6B6C50;
}

/* Hover Color Button: #5C0206 Link Hover: #5C0206 */